.progress_bar {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #f5f5f5, #efefef);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#efefef));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #efefef);
  background-image: -o-linear-gradient(top, #f5f5f5, #efefef);
  background-image: linear-gradient(to bottom, #f5f5f5, #efefef);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.progress_bar_content {
  width: 0;
  height: 100%;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
